/* site.css */
* {
	padding: 0;
	margin: 0;
}

.clear {
	clear:both;
}
body {
	background: #203345;
}

#main_page {
	background: no-repeat;
	text-align: right;
}

#logo_img {
	max-height:120px;
}

html, body {
	text-align: center !important;
	font-family: "Helvetica Neue";
}


#main_page {
	text-align: right;
}

#main_page_head {
	background: url(../images/front-spread.jpg) no-repeat;
	padding: 10px 29px;
	background-size: 100%;
	text-align: center;
	position: relative;
}

#main_page_head h1 {
	text-align: left;
	color: white;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
	font-family: 'Ubuntu Condensed', sans-serif !important;
	font-size: 50px;
	line-height: 40px;
	margin: 0 0 0 -2px;
	padding: 0;
	text-transform: lowercase;
	position: absolute;
	bottom: 65px;
}
#main_page_head p {
	text-align: left;
	color: rgba(255,255,255,0.9);
	text-shadow: 2px 2px 3px rgba(0,0,0,1);
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 40px;
}

.full_height {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8)
}
#logo {
	width: 90%;
	padding: 0;
	margin: 0 auto;
}

ul#main_nav {
	padding-top: 20px;
	padding-right: 50px;
}
ul#main_nav li {
	background: 0;
	border: 0;
	text-align: right;
	padding: 0;
	list-style: none;
	padding: 7px 0 !important;
	text-decoration: none;
}
ul#main_nav li a{
	color: #fbfbfb;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
	text-align: right;
	font-family: 'Ubuntu Condensed', sans-serif !important;
	font-size: 30px;
	text-transform: lowercase;
	text-decoration: none;
}

ul#main_nav li .ui-btn-inner {
	border: 0;
}
ul#main_nav li .ui-icon {
	display: none;
}


/* navigation pane */

#main_page {
	overflow: hidden;
}

#nav_pane {
	background: url(../images/navbkg.jpg);
	width: 50%;
	height: 100%;
	position:relative;
	vertical-align: top;
	display: inline-block;
}

#content_pane {
	width: 49%;
	display: inline-block;
	height:100%;
	vertical-align: top;
	position: relative;
}

#main_page_nav {
	width: 200%;
}



/* end nav pane */

/* about stuff */
.about_block {
	/*height: 200px;*/
	background-image: no-repeat;
	text-align: left;
	font-family: "Helvetica Neue";
	border-top: 5px solid gray;
	border-bottom: 5px solid gray;
	background-size:100%;
}
.about_title { /* can't override jq mobile! */
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-weight: bold;
	font-size: 20px;
	height: 400px;
	padding: 10px;
}
.about_description {
	text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
	background: none;
	color: white;
	padding: 10px 10px 0 10px;
	bottom: 40px;
	position: relative;
}
.about_link {
	display: inline-block;
	color: white;
	text-decoration: underline;
	font-style: italic;
}
/* end about stuff */
