/* site.css */

body {
	background: url(../images/front_bg.jpg) #203345;
}

#main_page {
	background:  no-repeat;
	text-align: right;
}

html, body {
	background: #333;
	text-align: center !important;
	font-family: "Helvetica Neue";
}

#wrapper {
	width: 500px;
}


#main_page_head {
	background: url(../images/front_bg.jpg) no-repeat;
	padding: 29px;
}

#logo {
	background: url("../images/logo.png");
	width: 330px;
	height: 101px;
	padding: 0;
	margin: 10px auto;
}

ul#main_nav {
	margin-top: 10px;
}
ul#main_nav li {
	background: 0;
	border: 0;
	text-align: right;
	padding: 0;
}
ul#main_nav li a{
	padding: 5px 0 !important;
	color: #fbfbfb;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
	text-align: right;
	font-family: 'Ubuntu Condensed', sans-serif !important;
	font-size: 20px;
	text-transform: lowercase;
}

ul#main_nav li .ui-btn-inner {
	border: 0;
}
ul#main_nav li .ui-icon {
	display: none;
}